.login-container {
  margin: 2rem 0;
  .form {
    @include flex(column, nowrap, center, center);
    gap: .5rem;
    width: 90%;
    max-width: 30rem;
    padding: 2em;
    background: $accent;
    border-radius: .5rem;
    margin: auto;
  }
}