.login-container {
  @include flex(column, nowrap, center, center);
  flex-grow: 1;
  .form {
    @include flex(column, nowrap, center, center);
    gap: .5rem;
    width: 90%;
    max-width: 30rem;
    padding: 2em;
    background: $accent;
    border-radius: .5rem;
  }
}