.cards-container {
  width: 100%;
  margin: 1rem 0;
  @include flex(column, nowrap, start, center);
  gap: 1rem;
  .card-container {
    width: 100%;
    min-width: 19rem;
    max-width: 35rem;
    margin: 1rem 0;
    .images {
      width: 100%;
      height: 300px;
    }
    .information {
      @include flex(column, nowrap, center, center);
      gap: 1em;
      text-align: center;
      padding: 1em 1.25em;
      .name {
        max-width: 100%;
        font-size: 1.75rem;
        color: $prim;
      }
      .specifications {
        @include flex(column, nowrap, center, center);
        gap: 0.1rem;
      }
      .description {
        color: grey;
        font-size: .8rem;
      }
      .price-container {
        @include flex(row, nowrap, space-around, center);
        width: 100%;
        .price {
          @include flex(column, nowrap, center, center);
          span {
            font-size: 1.25rem;
            color: $prim;
            &.promotion {
              text-decoration: line-through;
              color: $secondary;
            }
          }
        }
      }
      .isntAvailable {
        color: grey;
        font-size: 2rem;
      }
    }
    .button-container {
      @include flex(row, nowrap, center, center);
      gap: 1rem;
      .button {
        margin: 0;
        &.delete {
          color: white;
          background: #b90c0c;
        }
      }
    }
  }
}

@media (min-width: 768px) {
.cards-container {
  width: 100%;
  max-width: 75rem;
  margin: 1rem auto;
  .swiper-button-prev:after, .swiper-button-next:after {
    font-size: 1.75rem !important;
    background: $accent;
    padding: .5rem;
    color: $prim;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    user-select: none;
    opacity: .5;
  }
}

}