#navbar {
  @include flex(row, nowrap, start, center);
  gap: 1rem;
  max-width: 75rem;
  width: 100%;
  margin: auto;
  padding: 1rem;
  text-align: center;
  z-index: 10;
  .logo {
    flex-grow: 1;
    color: $prim;
    transition: color 100ms linear;
    &:hover {
      color: $secondary;
    }
  }
  .categories {
    position: relative;
    flex-grow: 1;
    > span {
      width: 100%;
      color: $prim;
      cursor: pointer;
      padding: 1.5rem 0;
      &.active {
        color: $secondary;
      }
    }
    #links {
      display: none;
      position: absolute;
      top: 2.5rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      
      .link {
        width: 80%;
        cursor: pointer;
        padding: .65rem;
        color: $accent;
        border-radius: .5rem;
        background: $prim;
        font-weight: 800;
        transition: all 50ms linear;
        &:hover {
          background: $secondary;
        }
      }
      &.active {
        @include flex(column, nowrap, center, center);
        gap: .5rem;
        animation: opacity 100ms linear;
      }
    }
  }
  .search {
    flex-grow: 3;
    position: relative;
    @include flex(row, nowrap, center, center);
    background: $prim;
    height: 2.25rem;
    border-radius: .5rem;
    svg {
      position: absolute;
      left: 0;
      margin: auto;
      font-size: 1.25rem;
      width: 2rem;
      padding: 0 .5rem;
      cursor: pointer;
    }
    input {
      height: 100%;
      font-size: .9rem;
    }
  }
}