#navbar_mobile {
  @include flex(row, nowrap, space-between, center);
  padding: 1em 2em;
  margin-bottom: 1em;
  color: $prim;
  svg {
    font-size: 1.5rem;
  }
  .menu-button {
    width: 2rem;
  }
  .menu {
    @include flex(column, nowrap, start, center);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 1em 2em;
    z-index: 3;
    background-color: $accent;
    transition: all 200ms ease-in;
    &.disabledL {
      left: -100%;
    }
    &.disabledR {
      left: 100%;
    }
    svg {
      align-self: start;
    }
    .links {
      flex-grow: 1;
      @include flex(column, nowrap, center, center);
      gap: 2rem;
      text-align: center;
      .link {
        font-size: 1.5rem;
      }
    }
  }
  .logo {
    font-size: 1.125rem;
  }
  .search-button {
    width: 2rem;
  }
  .search {
    height: auto;
    .search-bar {
      width: 100%;
      min-height: 40px;
      @include flex(row, nowrap, center, center);
      gap: .5rem;
      background-color: $prim;
      border-radius: .5rem;
      input {
        border-radius: 0;
        &::placeholder {
          color: $accent;
          opacity: 1;
        }
      }
      svg {
        padding: 0 .5rem;
        margin: auto;
        color: $accent;
      }
    }
  }
}