@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap");
.title {
  font-size: 1.5rem;
}

@keyframes opacity {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.title {
  font-size: 1.5rem;
}

@keyframes opacity {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  display: block;
  max-width: 100%;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

::-moz-selection {
  background-color: #fff;
  color: #202124;
}

::selection {
  background-color: #fff;
  color: #202124;
}

form, input, textarea, select, button, label {
  display: block;
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
}
form:focus-visible, input:focus-visible, textarea:focus-visible, select:focus-visible, button:focus-visible, label:focus-visible {
  outline: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  fill: currentColor;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 100%;
  font-family: "Noto Sans Mono", monospace;
  color: #fff;
  background-color: #202124;
}
body #content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 0.5rem;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #A7F2BA;
  }
  body #content {
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }
}
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.swiper-slide img {
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  background: #2BD9A8 !important;
}

#navbar_mobile {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  margin-bottom: 1em;
  color: #2BD9A8;
}
#navbar_mobile svg {
  font-size: 1.5rem;
}
#navbar_mobile .menu-button {
  width: 2rem;
}
#navbar_mobile .menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 1em 2em;
  z-index: 3;
  background-color: #0F4037;
  transition: all 200ms ease-in;
}
#navbar_mobile .menu.disabledL {
  left: -100%;
}
#navbar_mobile .menu.disabledR {
  left: 100%;
}
#navbar_mobile .menu svg {
  align-self: start;
}
#navbar_mobile .menu .links {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}
#navbar_mobile .menu .links .link {
  font-size: 1.5rem;
}
#navbar_mobile .logo {
  font-size: 1.125rem;
}
#navbar_mobile .search-button {
  width: 2rem;
}
#navbar_mobile .search {
  height: auto;
}
#navbar_mobile .search .search-bar {
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #2BD9A8;
  border-radius: 0.5rem;
}
#navbar_mobile .search .search-bar input {
  border-radius: 0;
}
#navbar_mobile .search .search-bar input::-moz-placeholder {
  color: #0F4037;
  opacity: 1;
}
#navbar_mobile .search .search-bar input::placeholder {
  color: #0F4037;
  opacity: 1;
}
#navbar_mobile .search .search-bar svg {
  padding: 0 0.5rem;
  margin: auto;
  color: #0F4037;
}

#navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  max-width: 75rem;
  width: 100%;
  margin: auto;
  padding: 1rem;
  text-align: center;
  z-index: 10;
}
#navbar .logo {
  flex-grow: 1;
  color: #2BD9A8;
  transition: color 100ms linear;
}
#navbar .logo:hover {
  color: #A7F2BA;
}
#navbar .categories {
  position: relative;
  flex-grow: 1;
}
#navbar .categories > span {
  width: 100%;
  color: #2BD9A8;
  cursor: pointer;
  padding: 1.5rem 0;
}
#navbar .categories > span.active {
  color: #A7F2BA;
}
#navbar .categories #links {
  display: none;
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#navbar .categories #links .link {
  width: 80%;
  cursor: pointer;
  padding: 0.65rem;
  color: #0F4037;
  border-radius: 0.5rem;
  background: #2BD9A8;
  font-weight: 800;
  transition: all 50ms linear;
}
#navbar .categories #links .link:hover {
  background: #A7F2BA;
}
#navbar .categories #links.active {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  animation: opacity 100ms linear;
}
#navbar .search {
  flex-grow: 3;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: #2BD9A8;
  height: 2.25rem;
  border-radius: 0.5rem;
}
#navbar .search svg {
  position: absolute;
  left: 0;
  margin: auto;
  font-size: 1.25rem;
  width: 2rem;
  padding: 0 0.5rem;
  cursor: pointer;
}
#navbar .search input {
  height: 100%;
  font-size: 0.9rem;
}

.footer-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.footer-container .logo {
  color: #2BD9A8;
  font-size: 1.25rem;
}
.footer-container .social svg {
  margin: 0 1rem;
  font-size: 2rem;
}
.footer-container .devs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}
.footer-container .devs .links {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 1rem;
  color: #A7F2BA;
}

.cards-container {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.cards-container .card-container {
  width: 100%;
  min-width: 19rem;
  max-width: 35rem;
  margin: 1rem 0;
}
.cards-container .card-container .images {
  width: 100%;
  height: 300px;
}
.cards-container .card-container .information {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  text-align: center;
  padding: 1em 1.25em;
}
.cards-container .card-container .information .name {
  max-width: 100%;
  font-size: 1.75rem;
  color: #2BD9A8;
}
.cards-container .card-container .information .specifications {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
.cards-container .card-container .information .description {
  color: grey;
  font-size: 0.8rem;
}
.cards-container .card-container .information .price-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.cards-container .card-container .information .price-container .price {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.cards-container .card-container .information .price-container .price span {
  font-size: 1.25rem;
  color: #2BD9A8;
}
.cards-container .card-container .information .price-container .price span.promotion {
  text-decoration: line-through;
  color: #A7F2BA;
}
.cards-container .card-container .information .isntAvailable {
  color: grey;
  font-size: 2rem;
}
.cards-container .card-container .button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.cards-container .card-container .button-container .button {
  margin: 0;
}
.cards-container .card-container .button-container .button.delete {
  color: white;
  background: #b90c0c;
}

@media (min-width: 768px) {
  .cards-container {
    width: 100%;
    max-width: 75rem;
    margin: 1rem auto;
  }
  .cards-container .swiper-button-prev:after, .cards-container .swiper-button-next:after {
    font-size: 1.75rem !important;
    background: #0F4037;
    padding: 0.5rem;
    color: #2BD9A8;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    opacity: 0.5;
  }
}
.button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: -moz-max-content;
  width: max-content;
  background-color: #2BD9A8;
  color: #0F4037;
  padding: 1em;
  margin: auto;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button svg {
  font-size: 1.75rem;
}

.add-form {
  padding: 0.7em;
}
.add-form svg {
  font-size: 1rem;
}

input {
  width: 100%;
  margin: auto;
  padding: 0.5em;
  background-color: #2BD9A8;
  color: black;
  border-radius: 0.5rem;
  transition: all 100ms linear;
  text-align: center;
}
input:focus {
  background-color: #A7F2BA;
}
input::-moz-placeholder {
  color: black;
}
input::placeholder {
  color: black;
}

textarea {
  width: 100%;
  margin: auto;
  padding: 0.5em;
  color: black;
  background-color: #A7F2BA;
  border-radius: 0.5rem;
  transition: all 100ms linear;
  text-align: center;
  resize: none;
  min-height: 10rem;
}

select {
  padding: 0 0.5rem;
  color: #A7F2BA;
  text-align: center;
}
select option {
  color: black;
  background: #2BD9A8;
}

.home-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.home-container .admin-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login-container {
  margin: 2rem 0;
}
.login-container .form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 90%;
  max-width: 30rem;
  padding: 2em;
  background: #0F4037;
  border-radius: 0.5rem;
  margin: auto;
}

.add-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  width: 100%;
  max-width: 75rem;
  margin: auto;
}
.add-container .form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 2em 1em;
}
.add-container .form .add-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 100%;
}
.add-container .form .list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.add-container .form .list .item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 100%;
}
.add-container .form .list .item p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.add-container .form .list .item svg {
  color: #b90c0c;
}
.add-container .form .checkbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.add-container .form .checkbox svg {
  font-size: 2rem;
}
.add-container .form .checkbox .true {
  color: #13c913;
}
.add-container .form .checkbox .false {
  color: #b90c0c;
}
.add-container .form .categories {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.category-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
  max-width: 75rem;
  margin: auto;
}
.category-container .add {
  display: none;
  width: 90%;
}
.category-container .add .select {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
}
.category-container .delete {
  display: none;
  width: 80%;
}
.category-container .delete .parent {
  position: relative;
  margin-bottom: 2rem;
}
.category-container .delete .parent div:first-child {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.category-container .delete .parent div:first-child p {
  color: #2BD9A8;
  font-size: 1.5rem;
}
.category-container .delete .parent div:first-child span {
  background: #0F4037;
  padding: 0.75em;
  border-radius: 0.5rem;
}
.category-container .delete .parent .childs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin: 1rem 2rem;
}
.category-container .delete .parent .childs svg {
  color: #b90c0c;
}
.category-container .active {
  display: block;
}

.search-container {
  text-align: center;
}/*# sourceMappingURL=main.css.map */